            
         
         <div class="item">
                  <div class="thumb">
                     <a href="#">
                     <img src="{{fields.field_left_bar_image.content|striptags }}" alt="Thumb">
                     </a>
                     <!-- <div class="price">Price: Free</div> -->
                  </div>
                  <div class="info">
                     <h4><a href="#">{{fields.title.content}}</a></h4>
                     <br>
                     <p>
                        {{fields.field_level_description.content}}
                     </p>
                     <div class="bottom-info text-center">

                        <a href="/level/{{fields.nid.content|striptags}}">Session Selection</a>
                     </div>
                  </div>
               </div>

               