<div id="databases_menu">
<div class="row"><div class="col"><h3 class="menu-title">DATABASES</h3></div></div>

<div class="row">

    <div class="col-4">
        <a class="dropdown-flyout-item item-1 mm-item" href="/activity-highlights">
            <h3>Drilling Activity</h3>
            <p>Database of selected U.S. and international exploration wells</p>
          </a>
    </div>
    <div class="col-4">
        <a class="dropdown-flyout-item item-2 mm-item" href="/ad-transactions">
            <h3>Transactions</h3>
            <p>Information on assets, buyers and sellers, deal values, and more.</p>
          </a>
    </div>
    <div class="col-4">
        <a class="dropdown-flyout-item item-3 mm-item" href="/new-financings">
            <h3>New Financings</h3>
            <p>A searchable database of oil and gas debt and equity offerings.</p>
          </a>
        
    </div>
</div>





<div class="row">
    <div class="col-4">
        <a class="dropdown-flyout-item item-4 mm-item" href="/whos-who">
            <h3>Who's Who</h3>
            <p>A list of A&D professionals anywhere.</p>
          </a>
    </div>
    <div class="col-4">
        <a class="dropdown-flyout-item item-5 mm-item" href="/markets/data">
            <h3>Markets Data</h3>
            <p>Prices for top E&amp;P stocks and commodities.</p>
          </a>
    </div>
    <div class="col-4">
        <a class="dropdown-flyout-item item-7 mm-item" href="/datalink">
            <h3>Energy Datalink</h3>
            <p>Rextag database of energy infrastructure assets</p>
          </a>
        
    </div>
</div>

<div class="row"><div class="col"><h3 class="menu-title">LISTS</h3></div></div>
        <div class="row" id="databases-text-links">
            <div class="col-4">
                <div><a  href="/whos-who" >E+P 40 Under Forty</a></div>
                <div><a href=""> Oil and Gas Investor 40 Under Forty </a></div>
                <div> <a  href="/datalink">Energy ESG Awards</a></div>
            </div>
            <div class="col-4">
                <div><a href="/whos-who"> Meritorious Awards for Engineering Innovation (MEA)</a></div>
                <div><a  href="/markets/data">Shale Technology Showcase</a></div>
            </div>
            <div class="col-4">
                <div><a  href="/whos-who">Veterans in Energy</a></div>
                <div><a href="">Women in Enery</a></div>
            </div>
        </div>

</div>
                
               
              