<!-- Start Why Chose Us 
   ============================================= -->
<div id="about-content" class="wcs-area default-padding bg-light content-default">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-xs-12">
            <div class="site-heading text-center">
               <h2 style="margin-bottom:10px;padding-bottom:10px;">Terms & Conditions</h2>
               <p style="margin:0 auto 50px auto;max-width:70%;">
                  A ONE-2-ONE Learning Institute for ALL Levels and Subjects.
                  An environment that appreciates every student’s questioning
                  ability by training of the mind to think than learning of facts.
               </p>
            </div>
         </div>
         <div class="col-md-6 thumb">
            <div class="site-heading text-left">
               <p>
                  EdLite Inspirations is a dependable center to seek joy in learning. Our are genuinely passionate in spreading knowledge to our students. Each session is catered to the students’ needs and learning speed, thus every lesson is unique on its own to suit the students’ style and capacity. EdLite’s care for each and every one of our students can be seen not only in the teaching approach, but also content and materials used in learning. 
               </p>
            </div>
            <img src="../themes/basic/images/thumb1.png" alt="Thumb">
         </div>
         <div class="col-md-6 content">
            <!-- item -->
            <div class="item">
               <div class="icon">
                  <i class="flaticon-trending"></i>
               </div>
               <div class="info">
                  <p>
                     The content is curated according to individuals’ capabilities and shortcomings, and this method allows each student to grow on their own and reach their personal goals, making learning more effective and fun. EdLite is a great choice for students’ development in their passion for learning.
                  </p>
               </div>
            </div>
            <!-- item -->
            <!-- item -->
            <div class="item">
               <div class="icon">
                  <i class="flaticon-professor"></i>
               </div>
               <div class="info">
                  <!-- <h4>
                     <a href="#">Certified Teachers</a>
                     </h4> -->
                  <p>
                     Our EdLite teachers, are well experienced MOE Registered teachers with interactive blend in skills and will make sure every student has a comfortable learning experience.
                  </p>
               </div>
            </div>
            <!-- item -->
            <!-- item -->
            <div class="item">
               <div class="icon">
                  <i class="flaticon-books"></i>
               </div>
               <div class="info">
                  <p>
                     Live feedback system with SAME DAY reporting to Parents on student’s performance and tracking improvises the chance of our kid’s success.
                  </p>
               </div>
               <!-- <br>
                  <a href="about-us.html" class="btn btn-dark border btn-md">Read More</a> -->
            </div>
            <!-- item -->
            
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-center">Why EdLite Inspirations ?</h2>
            <ul class="home-lists">
               <li class="col-lg-4"><i class="fa fa-check"></i><span>Well experienced and friendly teachers.</span></li>
               <li class="col-lg-4"><i class="fa fa-check"></i><span>Programs tailored to every student's learning speed and need.</span></li>
               <li class="col-lg-4"><i class="fa fa-check"></i><span>Notes and Practice Worksheet handouts for each session.</span></li>
               <li class="col-lg-4"><i class="fa fa-check"></i><span>Individual report for every session to track student's understanding.</span></li>
               <li class="col-lg-4"><i class="fa fa-check"></i><span>Monthly test to evaluate student's progress.</span></li>
               <li class="col-lg-4"><i class="fa fa-check"></i><span>Sessions handled by experience and ex-MOE teachers</span></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<!-- End Why Chose Us -->