<!-- Start Why Chose Us 
   ============================================= -->
<div id="about-content" class="wcs-area default-padding bg-light content-default">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-xs-12">
            <div class="site-heading text-center">
               
               <p style="margin:0 auto 50px auto;max-width:70%;">
                  If you want to book a session please login with a student account and proceed.
               </p>
            </div>
         </div>
        </div>
    </div>
</div>
         