<!-- Start Advisor Details 
   ============================================= -->
<div class="adviros-details-area page-height">
   <div class="row">
   <div class="container">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="site-heading text-center">
            <div class="col-md-8 col-md-offset-2">
               <h2>Session Selection</h2>
               <!-- <p>
                  Discourse assurance estimable applauded to so. Him everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                  </p> -->
            </div>
         </div>
         <div class="slot-validation messages messages--error" style="display:none;">
         </div>
         <div class="panel-group" id="accordion" id="session-booking-instructions">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h4 class="panel-title">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                     Session Booking Instructions
                     </a>
                  </h4>
               </div>
               <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                     <ul>
                        <li>Each session consist of 2 hours.</li>
                        <li> Kindly contact us @8405 4831 for any special request.</li>
                        <li>For booking sessions back to back, kindly select with atleast 2 hours time difference.</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!--Session booking instructions -->
      <!--End Session booking instructions -->
      <div class="row">
      <div class="col-lg-12">
        <!-- <div class="col-lg-12">
            <div class="session-add-btn"><button class="button-sm btn-primary add">Add</button></div>
         </div>-->
      </div>
   </div>
      <form method="post" action="/create-session" autocomplete="off" >
         <input type="hidden" name="number_of_sessions" id="number_of_sessions" value="1" />
		 <input type="hidden" name="selected-subject"  value="{{items.selected_subject}}" />
		 <input type="hidden" name="sub-level"  value="{{items.selected_sub_level}}" />
		 <input type="hidden" name="level-selected"  value="{{items.level_selected}}" />
         <div class="element">
            <div class="row"  id="row-1">
            <a href="javascript:;" id="delete-1" class='delete-slot'><i class='fa fa-times'></i> </a>
               <div class="col-md-4 thumb">
                  <div class="desc">
                     <h4>Select Date</h4>
                     <i class="fa fa-calendar" aria-hidden="true" id="slot_date-1" ></i>
                     <input type="text" name="slot_date-1" class="form-control datepicker">
                  </div>
               </div>
               <div class="col-md-8 info calender-wrap">
                  <!-- Star Tab Info -->
                  <fieldset id="field-set-1">
                     <label for="radio-1">09:00 AM</label>
                     <input type="radio" name="radio-1"  class="timeslot" id="radio-1" value="09:00am">
                     <label for="radio-2">09:30 AM</label>
                     <input type="radio" name="radio-1"  class="timeslot" id="radio-2" value="09:30am">
                     <label for="radio-3">10:00 AM</label>
                     <input type="radio" name="radio-1" class="timeslot" id="radio-3" value="10:00am">
                     <label for="radio-4">10:30 AM</label>
                     <input type="radio" name="radio-1"  class="timeslot" id="radio-4" value="10:30am">
                     <label for="radio-5">11:00 AM</label>
                     <input type="radio" name="radio-1"  class="timeslot" id="radio-5" value="11:00am">
                     <label for="radio-6">11:30 AM</label>
                     <input type="radio" name="radio-1" id="radio-6" class="timeslot" value="11:30am">
                     <label for="radio-7">12:00 PM</label>
                     <input type="radio" name="radio-1" id="radio-7" class="timeslot" value="12:00pm">
                     <label for="radio-8">12:30 PM</label>
                     <input type="radio" name="radio-1" id="radio-8" class="timeslot" value="12:30pm">
                     <label for="radio-9">01:00 PM</label>
                     <input type="radio" name="radio-1" id="radio-9" class="timeslot" value="01:00pm">
                     <label for="radio-10">01:30 PM</label>
                     <input type="radio" name="radio-1" id="radio-10" class="timeslot" value="01:30pm">
                     <label for="radio-11">02:00 PM</label>
                     <input type="radio" name="radio-1" id="radio-11" class="timeslot" value="02:00pm">
                     <label for="radio-12">02:30 PM</label>
                     <input type="radio" name="radio-1" id="radio-12" class="timeslot" value="02:30pm">
                     <label for="radio-13">03:00 PM</label>
                     <input type="radio" name="radio-1" id="radio-13" class="timeslot" value="03:00pm">
                     <label for="radio-14">03:30 PM</label>
                     <input type="radio" name="radio-1" id="radio-14" class="timeslot" value="03:30pm">
                     <label for="radio-15">04:00 PM</label>
                     <input type="radio" name="radio-1" id="radio-15" class="timeslot" value="04:00pm">
                     <label for="radio-16">04:30 PM</label>
                     <input type="radio" name="radio-1" id="radio-16" class="timeslot" value="04:30pm">
                     <label for="radio-17">05:00 PM</label>
                     <input type="radio" name="radio-1" id="radio-17" class="timeslot" value="05:00pm">
                     <label for="radio-18">05:30 PM</label>
                     <input type="radio" name="radio-1" id="radio-18" class="timeslot" value="05:30pm">
                     <label for="radio-19">06:00 PM</label>
                     <input type="radio" name="radio-1" id="radio-19" class="timeslot" value="06:00pm">
                     <label for="radio-20">06:30 PM</label>
                     <input type="radio" name="radio-1" id="radio-20" class="timeslot" value="06:30pm">
                  </fieldset>
               </div>
            </div>
         </div>
         <!-- end element -->
         <div class="row">
            <div class="col-lg-12 col-md-12 btn_right">
               <button class="button-sm btn-primary add">Add</button><input class="button-sm button-theme t" type="submit" name="submit" value="Submit" id="book_session" >
            </div>
         </div>
      </form>
   </div>
</div>
</div>
<!-- End Advisor Details -->