<!-- Start Footer 
    ============================================= -->
    <footer class="bg-fixed shadow dark-hard default-padding-top text-light" style="background-image: url(/{{ directory }}/images/images/footer_banner.jpg);">
        <div class="container">
            <div class="row">
                <div class="f-items">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
                        <div class="f-item">
                            <img src="/{{ directory }}/images/logo-light.png" alt="Logo">
                            <p>
                                A ONE-2-ONE Learning Institute for ALL Levels and Subjects. An environment that appreciates every student’s questioning ability by training of the mind to think than learning of facts.
                            </p>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-6 col-sm-3 item">
                        <div class="f-item link">
                            <h4>Links</h4>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                        {% if is_front == 1 %}
                            <a class="smooth-menu" href="#about-content">About Us</a>
                         {% else %}
                         <a class="smooth-menu" href="/about-us">About Us</a>  
                       
                        {% endif %}
                        </li>
                                <li>
                                    <a href="/faculty">Our Teachers</a>
                                </li>
                                
                               {% if is_front == 1 %}
                        <li><a href="#contact-form">Contact Us</a></li>
                        {% else %}
                        <li><a href="/contact-us">Contact Us</a></li>
                        {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-6 col-sm-3 item">
                        <div class="f-item link">
                            <h4>Discover</h4>
                            <ul>
                                <li>
                                    <a href="/level/32">Lower Primary</a>
                                </li>
                                <li>
                                    <a href="/level/33">Upper Primary</a>
                                </li>
                                <li>
                                    <a href="/level/34">Secondary/IGCSE</a>
                                </li>
                                <li>
                                    <a href="/level/35">JC/IB</a>
                                </li>
                                <li>
                                    <a href="/level/36">PSAT</a>
                                </li>
                                <li>
                                    <a href="/level/37">ACT/SATs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item">
                        <div class="f-item address">
                            <h4>Support</h4>
                            <ul>
                                
                                <li>
                                    <i><span class="whatsapp-icon"></span></i> 
                                    
                                    <p>Contact <span><a href="">+65 8405 4831</a></span></p>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i> 
                                    <p>Email <span><a href="info@edliteinspirations.com">info@edliteinspirations.com</a></span></p>
                                </li>
                                <li>
                                    <i class="fas fa-map"></i> 
                                    <p>Office <span>21 Bukit Batok Crescent, SG – 658065
                            </span></p>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 text-center">
                            <p>&copy; Copyright 2022. All Rights Reserved by <a>EdLite Inspirations</a></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->
